@use "variables" as v;

//==== Sections ====
$section-padding: 60px 20px;

%section {
  padding: $section-padding;
}

.light-section {
  @extend %section;
  background-color: v.$color-light-main;
  color: v.$color-dark-main;
}

.dark-section {
  @extend %section;
  background-color: v.$color-dark-main;
  color: v.$color-light-main;
}

//==== Container ====
$container-width: 1440px;

%container {
  display: flex;
  margin: 0 auto;
  max-width: $container-width;
}
