@mixin font-stack($family, $size, $weight) {
  margin: 0;
  font: {
    family: $family;
    size: $size;
    weight: $weight;
  }
}

@mixin non-sticking-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
