@use "variables" as v;

html {
  scroll-behavior: smooth;
}

//==== Sections ====
.light-section {
  background-color: v.$color-light-main;
  color: v.$color-dark-main;
}

.dark-section {
  background-color: v.$color-dark-main;
  color: v.$color-light-main;
}

//==== Containers ====
$container-width: 1440px;
$container-hor-padding: 20px;
$container-vert-padding: 60px;

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

%container {
  display: flex;
  margin: 0 auto;
  max-width: $container-width;
  padding: $container-vert-padding $container-hor-padding;
}

.header-container {
  @extend %container;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 $container-hor-padding;
}

.about-container {
  @extend %container;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.price-container {
  @extend %container;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  background-color: bisque;
}

.faq-container {
  @extend %container;
  justify-content: space-between;
  gap: 40px;
}

