@use "variables" as v;

html {
  scroll-behavior: smooth;
}

//==== Sections ====
.light-section {
  background-color: v.$color-light-main;
  color: v.$color-dark-main;
}

.dark-section {
  background-color: v.$color-dark-main;
  color: v.$color-light-main;
}

//==== Containers ====
$container-width: 1440px;
$container-hor-padding: 20px;
$container-vert-padding: 60px;
$hero-container-gap: 40px;

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

%container {
  display: flex;
  margin: 0 auto;
  max-width: $container-width;
  padding: $container-vert-padding $container-hor-padding;
}

.header-container {
  @extend %container;
  padding: 0 0 0 $container-hor-padding;
  justify-content: space-between;
  align-items: center;
}

.hero-wrapper-container {
  @extend %container;
  padding: 0;
  gap: 20px;
}

.hero-aside {
  padding: 60px 0;
  display: flex;
  align-items: center;
  width: 60px;
  writing-mode: sideways-lr;
  gap: 12px;
}

.hero-container {
  flex: 1 0 0;
  @extend %container;
  gap: $hero-container-gap;
  align-items: center;
}

.about-container {
  @extend %container;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.portfolio-container {
  @extend %container;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  .text-container {
    max-width: 360px;
  }
}

.price-container {
  @extend %container;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.faq-container {
  @extend %container;
  justify-content: space-between;
  gap: 40px;
}

.footer-form-container {
  @extend %container;
  padding: 40px $container-hor-padding $container-hor-padding;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-contacts-container {
  @extend %container;
  padding: $container-hor-padding;
  justify-content: center;
  align-items: center;
}
