//==== Font stack ====
$font-common: "Mulish", sans-serif;
$font-captions: "Oswald", sans-serif;

//==== Color palette ====
$color-dark-main: #222222;
$color-light-main: #ffffff;
$color-hover: #FF3C3C;
$color-input-placeholder: #989898;