@use "../common/variables" as v;

.hr-line {
  flex-grow: 1;
  border-left: 1px solid v.$color-light-main;
}

.hero-text-wrapper {
  flex: 1 0 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 160px;

  .hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.hero-text-counters {
  display: flex;
  gap: 60px;
}

.hero-text-counter-container {
  display: flex;
  gap: 8px;

  .hero-text-counter {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.hero-scroll {
  display: flex block;
  text-decoration: none;
  gap: 8px;
  color: v.$color-light-main;
  stroke: v.$color-light-main;
  transition: 0.25s;

  &:hover {
    color: v.$color-hover;
    stroke: v.$color-hover;
  }
}

.hero-temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;

  p {
    text-align: right;
    max-width: 220px;
  }

  img {
    width: 100%;
    height: auto;
    min-width: 220px;
    object-fit: cover;
  }
}

//==== Media Queries 768px ====

@media screen and (max-width: v.$tablet-breakpoint) {
  .hero-temp-container {
    display: none;
  }

  .hero-image-container {
    img {
      width: 220px;
    }
  }
}
