@use "../common/variables" as v;
@use "../common/mixins" as m;

.burger-icon {
  display: none;
  width: 60px;
  height: 60px;
  padding: 25px 20px;

  .line {
    height: 2px;
    background-color: v.$color-light-main;
    transition: all 0.25s ease-in-out;

    &:first-child {
      width: 12px;
    }

    &:last-child {
      width: 20px;
    }
  }

  @include m.non-sticking-hover {
    .line {
      background-color: v.$color-hover;
    }
  }

  &.active {
    .line {
      &:first-child {
        width: 20px;
        transform: translateY(4px) rotate(45deg);
      }

      &:last-child {
        transform: translateY(-4px) rotate(-45deg);
      }
    }
  }
}

//==== Media Queries 768px ====
@media screen and (max-width: v.$tablet-breakpoint) {
  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}