@use "../common/variables" as v;
@use "../common/mixins" as m;

.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 200px;
  background-color: v.$color-dark-main;
  color: v.$color-light-main;
  border: none;
  transition: 0.25s;

  @include m.non-sticking-hover {
    background-color: v.$color-hover;
    color: v.$color-dark-main;
    cursor: pointer;
  }
}