@use "../common/variables" as v;

.price-card {
  width: 320px;
  height: 500px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid v.$color-dark-main;
}

.price-card-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
}