@use "../common/variables" as v;

$slider-height: 654px;

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: $slider-height;
}

.slider-wrapper {
  display: flex;
  height: $slider-height;
  gap: 20px;
  width: max-content;
  align-items: flex-start;
  transition: transform 0.25s linear;

  img {
    object-fit: cover;
  }
}

.slider-hover-zone {
  position: absolute;
  width: 30%;
  height: $slider-height;
  bottom: 60px;

  &.left-hover {
    left: 0;

    &:hover {
      background: rgba(247, 154, 15, 0.10);
    }

  }

  &.right-hover {
    right: 0;

    &:hover {
      background: rgba(15, 108, 247, 0.10);
    }
  }
}

.slider-square-image {
  align-self: center;
}

.slider-image-padded {
  margin-top: 120px;
}

@media not ((hover: hover) and (pointer: fine)) {
  .slider-hover-zone {
    display: none;
  }

  .slider-container {
    display: block;
    width: 100vw;
    margin-left: -20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .slider-wrapper {
    padding: 0 20px;
  }

}