.slider-container {
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  display: flex;
  height: 654px;
  gap: 20px;
  width: max-content;
  align-items: flex-start;

  img {
    object-fit: cover;
  }
}

.slider-square-image {
  align-self: center;
}

.slider-image-padded {
  margin-top: 120px;
}