@use "style-modules/common/modern-normalize.css";
@use "style-modules/common/page-layout";
@use "style-modules/common/typography";

@use "style-modules/layout/hero";
@use "style-modules/layout/about";

@use "style-modules/components/button";
@use "style-modules/components/text-input";
@use "style-modules/components/navigation-list";
@use "style-modules/components/accordion";
@use "style-modules/components/price-card";
@use "style-modules/components/slider";